@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvertaStdCY';
    src: url('./assets/fonts/AvertaStdCY-Bold_1.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('./assets/fonts/AvertaStdCY-Regular_3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvertaStdCY';
    src: url('./assets/fonts/AvertaStdCY-Light_1.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
body {
    font-family: 'AvertaStdCY', sans-serif;
    font-style: normal;
    @apply text-text_primary;
}
