@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvertaStdCY';
    src: url('./assets/fonts/AvertaStdCY-Bold_1.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('./assets/fonts/AvertaStdCY-Regular_3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvertaStdCY';
    src: url('./assets/fonts/AvertaStdCY-Light_1.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
body {
    font-family: 'AvertaStdCY', sans-serif;
    font-style: normal;
    @apply text-text_primary;
}

.container {
    @apply relative w-full md:max-w-[1170px] mx-auto;
}

.padding-common {
    padding: 0 15px 30px;
}

.padding-x-common {
    padding: 0 15px;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.mobile-flex {
    @apply flex md:hidden;
}

.mobile-col {
    @apply flex flex-col md:flex-row;
}

.pc-flex {
    @apply hidden lg:flex;
}

.tablet-flex {
    @apply hidden md:flex;
}

.text-heading {
    @apply font-pacifico text-4xl md:text-5xl !leading-[77px] text-secondary text-center;
}
